<div *ngIf="selectedRoom$ | async as selectedRoom; else noRoomSelected">
  <h2>{{ selectedRoom.name | slice : 0 : 20 }}</h2>

  <div class="messages">
    <app-message
      *ngFor="let message of messages$ | async; trackBy: trackByMessageId"
      [message]="message"
    ></app-message>
  </div>

  <div class="message-input">
    <input type="text" [(ngModel)]="newMessage" placeholder="Enter message" />
    <div class="image-upload">
      <input type="file" accept="image/*" (change)="onFileSelected($event)" />
      <img [src]="imagePreview" alt="Image Preview" />
      <!-- <app-image-message
        *ngIf="imagePreview"
        [mxcUrl]="imagePreview"
      ></app-image-message> -->
    </div>
    <button (click)="onSendMessage()">Send</button>
    <button (click)="onLeaveRoom()">Leave Room</button>
  </div>
</div>

<ng-template #noRoomSelected>
  <p>No room selected.</p>
</ng-template>
